body{

background:#111;
color:white;

font-family:Arial;

text-align:center;

}

#board{

width:900px;
height:900px;

margin:auto;

display:grid;

grid-template-columns:repeat(10,1fr);
grid-template-rows:repeat(10,1fr);

border:5px solid white;

}

.tile{

background:#e8e8e8;

border:1px solid black;

display:flex;

align-items:center;
justify-content:center;

font-size:11px;
font-weight:bold;

}

.player{

width:20px;
height:20px;

background:red;

border-radius:50%;

margin:auto;

}

button{

margin-top:20px;

padding:10px 20px;

font-size:16px;

cursor:pointer;

}
