body{
text-align:center;
font-family:Arial;
background:#222;
color:white;
}

canvas{
background:#eee;
border:5px solid black;
margin-top:20px;
}

.controls{
margin-top:20px;
}

button{
padding:10px 20px;
font-size:16px;
margin:5px;
cursor:pointer;
}

.controls{
    text-align:center;
    margin-top:20px;
}

button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
}

.player{
    width:20px;
    height:20px;
    background:red;
    border-radius:50%;
    position:absolute;
    top:85%;
    left:5%;
}
